@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway-thin.woff') format('woff'),
    url('fonts/raleway-thin.eot') format('embedded-opentype'),
    url('fonts/raleway-thin.ttf') format('truetype'),
    url('fonts/raleway-thin.svg') format('svg');
}

@font-face {
  font-family: 'Font-Awesome';
  src: url('fonts/fontawesome-webfont.woff') format('woff');
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('fonts/deja-vu-sans-mono.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu-Mono';
  src: url('fonts/ubuntu-mono.woff') format('woff');
}

body {
	margin: 0;
  font-family: Ubuntu-Mono, sans-serif;
}

a {
  color: #04ACF5 !important;
}

.container {
  display: none;
}

.info {
	font-weight: bolder;
	font-size: 30px;
	color: rgba(225,225,225,0.7);
}

.contact{
	height: 50px;
	min-width: 100%;
	background: rgba(0,0,0,0.1);
	text-align: center;
	clear: both;
}

.contact img{
	float: right;
	padding: 7px 30px 7px 0px;
}

.about {
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	width: 50%;
	color: rgba(225,225,225,0.7);
	padding: 5%;
	clear: both;
	margin-top: 50px;
	margin-bottom: 50px;
}

.about p {
	font-size: 18px;
	line-height: 25px;
}

.foot{
	min-width: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;
	clear: both;
}

.foot img{
	float: left;
	padding: 7px 30px 7px 0px;
}

ul {
  padding-left: 0;
}

.css-sprites li{
  margin: 5px;
  list-style: none;
  display: inline-block;
}

.sprite {
  width: 48px;
  height: 48px;
}

.github{
  background: url("../images/dist/sprites.png") 0 0;
}

.linkedin{
  background: url("../images/dist/sprites.png") 48px 0px;
}

.twitter{
  background: url("../images/dist/sprites.png") 106px 0px;
}

.email{
  background: url("../images/dist/sprites.png") 164px 0px;
}

.npm {
  background: url("../dist/images/npm-transparent.png");
}
